<%- include("templates/header", {title: "Nosotros"}) %>
    
    <h1>Nosotros</h1>
    <h2><%= titulo %></h2>
    <p>En este archivo no se uso el include del header con el navbar</p>

<%- include("templates/footer")%>